{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'scripts/main.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <title>Finches - {% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <a class="nav-a" href="/">Home</a>
        <a class="nav-a" href="/finches">Finches</a>
        <a class="nav-a" href="{% url 'finch_create' %}">Add Finch</a>
        {% if user.is_authenticated %}
            <span class="nav-a">Welcome: {{user.username}}</span>
            <a class="nav-a" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a class="nav-a" href="{% url 'login' %}">Login</a>
            <a class="nav-a" href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </nav>


    {% block content %}{% endblock %}
    
</body>
</html>
